@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap");

:root {
  --white: #fffffff;
  --test-border: 1px solid hotpink;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  height: 100vh;
  background: rgb(41, 41, 190);
  background: linear-gradient(180deg, rgba(41, 41, 190, 1) 0%, rgba(0, 212, 255, 1) 100%);
  background-repeat: no-repeat;
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  font-size: 2rem;
}

input {
  padding: 0.5rem;
  border: 1px solid lightblue;
  border-radius: 3px;
}

button {
  padding: 0.5rem;
  margin-top: 1rem;
  border: 1px solid lightblue;
  border-radius: 3px;
  min-width: 6rem;
  cursor: pointer;
  font-weight: 600;
}

p {
  padding: 3px;
}

#main-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 2rem;
  width: 85vw;
  height: auto;
  border: 2px solid rgba(173, 216, 230, 0.5);
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  padding: 1rem;
  background-color: whitesmoke;
  box-shadow: 1px 6px 6px -1px rgba(100, 100, 100, 0.75);
}

#chat {
  text-align: center;
  font-weight: 600;
}

#game-choice-btns,
#outcome,
#scoreboard,
#game,
#controls,
#instructions {
  text-align: center;
  font-size: 1.8rem;
  padding: 0.5rem 0.5rem;
}

#scoreboard {
  font-weight: 600;
}

#scoreboard p {
  display: inline-block;
  font-size: 2rem;
}

#outcome {
  margin-top: 1rem;
}

.green-btn {
  background-color: rgba(144, 238, 144, 0.5);
  color: green;
}

.red-btn {
  background-color: rgba(236, 29, 6, 0.326);
  color: red;
}

.rps {
  font-size: 4rem;
  border-radius: 50%;
  padding: 1rem;
  margin: 0.5rem;
  background-color: whitesmoke;
}

.rps:hover,
.rps:active {
  background-color: rgba(144, 238, 144, 0.5);
}

.emoji {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.emoji img {
  width: 150px;
  height: auto;
}

.hide {
  display: none;
}

.first-word {
  font-weight: 600;
  color: red;
}
