@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;600&display=swap");

:root {
  --white: #fffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  height: 100vh;
  background: rgb(41, 41, 190);
  background: linear-gradient(180deg, rgba(41, 41, 190, 1) 0%, rgba(0, 212, 255, 1) 100%);
  background-repeat: no-repeat;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  font-size: 2rem;
}
